@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    color: white;
}
@media(max-width: 640px){
    header {
        background-image: url(img/rauschenberger-truck-3677882_640.jpg);
    }
    section {
        padding: 0px 5px;
    }
}
@media(max-width: 1280px){
    header {
        background-image: url(img/rauschenberger-truck-3677882_1280.jpg);
    }
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: max-content;
}

header {
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0px 7% 40% 7%;
}
 nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
nav {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: "Audiowide", sans-serif;
}
article {
    padding: 0px;
    margin: 10px 0px;
    text-align: justify;
    text-align: center;
}
section {
    padding: 0px 7%;
}
h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 1.1em;
}
p {
    font-size: 0.8em;
}

.jedna {
    background-image: url(img/winterroaddriver-big-2904397_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.dva {
    background-image: url(img/11082974-truck-6012147_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.tri {
    background-image: url(img/eagle77-model-car-2847253_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.ctyri {
    background-image: url(img/hansbenn-graphic-3689497_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.pet {
    background-image: url(img/kalhh-truck-333249_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.sest {
    background-image: url(img/rauschenberger-truck-3677882_640.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
}
section h2 {
    margin: 0px;
    margin-bottom: 40%;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 5px;
}
@media(min-width: 1280px) {
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: none;
        padding-bottom: 10%;
    }
    header {
        background-image: url(img/rauschenberger-truck-3677882_1920.jpg);
    }
    nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        flex-direction: row;
        padding: 0px 7%-10px;
    }
    article {
        flex: 1;
        margin: 10px;
    }
}
